name: LightFury Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate LightFury SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: vaniarya
          outputs: |
            dist/lightfury.svg?palette=github-dark&color_snake=#7fdbff&color_dots=#ffffff,#c9d1d9,#58a6ff,#7fdbff

      - name: Push SVG
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
